.category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.category-buttons {
  display: flex;
  flex-direction: row; /* HORIZONTAL! */
  justify-content: center;
  gap: 90px; /* spacing between buttons */
}

.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-button {
  background-color: #cdb4db;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 20px;
  color: #4b244a;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 18em;
}

.category-button:hover {
  background-color: #b8c0ff;
}

.subcategory-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcategory-item {
  margin: 5px 0;
  padding: 8px 16px;
  background-color: #ffd6a5;
  border-radius: 6px;
  font-size: 19px;
  color: #5a3e36;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 18em;
}

.subcategory-item:hover {
  background-color: #ffb4a2;
}
